# Dependencies
node_modules/
.pnpm-store/

# Astro build output
dist/
.astro/

# Cache and Vercel local data
.vercel

# Local data and configurations for Sanity (if integrated in the same repository)
.sanity/

# Environment variables (contain API keys and private tokens)
.env
.env.local
.env.production
.env.development
.env.*.local

# System and package logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# System files and IDE configurations
.DS_Store
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?